// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeTitle{
  text-align: center;
  padding-bottom: 30px;
}

.btn-primary{
  color: black !important;
}

.form-actions{
  margin: 0;
  text-align: center;
}

.panel-default
{
  background-color: #828793 !important;
  height: 200px;
  box-shadow: 0px 5px 20px rgba(0,0,0,.5);
}

.panel{
  border: 1px solid #828793;
  color: #ffffff !important;
  border-radius: 0;
  transition: box-shadow 0.4s;
}

.panel-heading{
  background-color: #143D64 !important;
  color: #ffffff !important;
  border: hidden;
  border-radius: 0;
  -webkit-box-shadow: 0px 4px 4px -2px #232323;
  box-shadow: 0px 4px 4px -2px #232323;
}

.panel-title{
  text-align: center;
}

.result-hidden{
  display: none;
}

.linkShow{
  color: #ffffff !important;
}
